# t-Test

## Reading the data

In [1]:
import pandas as pd
import numpy as np

idx = list(range(1, 31))
# idx = list(range(1, 6))

data_stat = []
data_nonstat = []
for i in idx:
    df_stat = pd.read_csv('intermediate_stat/rep_' + str(i) + '_1515211501445.csv')
#     df_stat = pd.read_csv('dummy_data/rep_' + str(i) + '_1512096105723.csv')
    df_stat['rep'] = i
    data_stat.append(df_stat)
    
    df_nonstat = pd.read_csv('intermediate_nonstat/rep_' + str(i) + '_1515211218849.csv')
    df_nonstat['rep'] = i
    data_nonstat.append(df_nonstat)

In [2]:
data_stat[0].head()

,Fictitious(Stoch),e-Greedy,FreqHist,e-Nash,Exp3,Frequentist,NoRegret,Xelnaga,Fictitious(Det),ReplyHist,Reply-Last,UCB1-Tuned,Skynet,Nash,MiniMaxQ,rep
0,-1.0,51.4,55.2,50.4,52.2,53.0,56.7,80.8,49.7,42.4,38.9,47.9,93.9,49.5,46.8,1
1,48.6,-1.0,53.1,48.4,49.7,53.3,54.4,71.6,49.3,38.1,37.8,44.8,87.2,50.0,50.1,1
2,44.8,46.9,-1.0,47.3,47.7,48.1,57.3,51.8,44.7,49.1,33.1,41.3,93.9,53.9,48.6,1
3,49.6,51.6,52.7,-1.0,49.6,55.8,53.9,62.8,49.3,46.1,50.4,52.3,65.8,50.8,48.7,1
4,47.8,50.3,52.3,50.4,-1.0,47.6,51.2,69.6,50.7,50.8,52.8,49.0,85.8,51.3,45.1,1

In [3]:
data_nonstat[0].head()

,Fictitious(Stoch),e-Greedy,Skynet,e-Nash,Exp3,Frequentist,NoRegret,Xelnaga,Fictitious(Det),ReplyHist,Reply-Last,UCB1-Tuned,FreqHist,Nash,MiniMaxQ,rep
0,-1.0,30.6,31.8,58.3,27.9,70.3,72.2,8.3,52.7,8.5,71.5,27.5,9.7,20.1,27.8,1
1,69.4,-1.0,64.3,68.8,47.9,85.2,54.2,68.2,87.0,45.2,83.5,47.5,45.9,75.3,50.8,1
2,68.2,35.7,-1.0,71.3,31.6,68.2,73.6,76.1,68.2,49.0,68.2,30.1,51.7,73.4,26.6,1
3,41.7,31.2,28.7,-1.0,24.6,82.6,38.5,30.4,42.1,26.5,76.5,29.0,31.2,39.6,22.6,1
4,72.1,52.1,68.4,75.4,-1.0,86.2,73.8,71.1,71.4,45.9,80.8,46.9,44.0,74.2,48.9,1

### Filtering data

Removing the players: Fictitious(Stoch), NoRegret, Fictitious(Det)

In [4]:
rem_players_lst = ['Fictitious(Stoch)', 'NoRegret', 'Fictitious(Det)']

# Getting the row ilocs
ilocs_to_rem = [data_stat[0].columns.get_loc(k) for k in rem_players_lst]

# Creating a map to remove the rows
iloc_filter = np.arange(len(data_stat[0]))
iloc_filter = ~np.isin(iloc_filter, ilocs_to_rem)

# Removing the rows and columns of each dataframe
for i in range(len(data_stat)):
    data_stat[i] = data_stat[i][iloc_filter]
    data_nonstat[i] = data_nonstat[i][iloc_filter]
    
    data_stat[i] = data_stat[i].drop(['Fictitious(Stoch)', 'NoRegret', 'Fictitious(Det)'], axis=1)
    data_nonstat[i] = data_nonstat[i].drop(['Fictitious(Stoch)', 'NoRegret', 'Fictitious(Det)'], axis=1)

data_stat[0].head()

,e-Greedy,FreqHist,e-Nash,Exp3,Frequentist,Xelnaga,ReplyHist,Reply-Last,UCB1-Tuned,Skynet,Nash,MiniMaxQ,rep
1,-1.0,53.1,48.4,49.7,53.3,71.6,38.1,37.8,44.8,87.2,50.0,50.1,1
2,46.9,-1.0,47.3,47.7,48.1,51.8,49.1,33.1,41.3,93.9,53.9,48.6,1
3,51.6,52.7,-1.0,49.6,55.8,62.8,46.1,50.4,52.3,65.8,50.8,48.7,1
4,50.3,52.3,50.4,-1.0,47.6,69.6,50.8,52.8,49.0,85.8,51.3,45.1,1
5,46.7,51.9,44.2,52.4,-1.0,80.8,39.7,39.5,37.8,94.0,54.1,46.7,1

### Combining dataframes

In [5]:
data_stat_all = pd.concat(data_stat).reset_index(drop=True).applymap(lambda v: v if v != -1 else np.nan)
data_nonstat_all = pd.concat(data_nonstat).reset_index(drop=True).applymap(lambda v: v if v != -1 else np.nan)

# showing one of the dataframes
data_stat_all.head()

,e-Greedy,FreqHist,e-Nash,Exp3,Frequentist,Xelnaga,ReplyHist,Reply-Last,UCB1-Tuned,Skynet,Nash,MiniMaxQ,rep
0,NaN,53.1,48.4,49.7,53.3,71.6,38.1,37.8,44.8,87.2,50.0,50.1,1
1,46.9,NaN,47.3,47.7,48.1,51.8,49.1,33.1,41.3,93.9,53.9,48.6,1
2,51.6,52.7,NaN,49.6,55.8,62.8,46.1,50.4,52.3,65.8,50.8,48.7,1
3,50.3,52.3,50.4,NaN,47.6,69.6,50.8,52.8,49.0,85.8,51.3,45.1,1
4,46.7,51.9,44.2,52.4,NaN,80.8,39.7,39.5,37.8,94.0,54.1,46.7,1

## Data statistics

### Average and std

In [6]:
def calc_stats(df):
    df_avrg = df.mean()
    df_std = df.std()
    df_stats = pd.DataFrame([df_avrg, df_std], columns=df_avrg.index.values, index=['Average', 'Std'])
    return df_stats

data_stat_all_stats = calc_stats(100 - data_stat_all.drop('rep', 1))
data_nonstat_all_stats = calc_stats(100 - data_nonstat_all.drop('rep', 1))

In [7]:
data_stat_all_stats

,e-Greedy,FreqHist,e-Nash,Exp3,Frequentist,Xelnaga,ReplyHist,Reply-Last,UCB1-Tuned,Skynet,Nash,MiniMaxQ
Average,52.229091,49.860000,52.994242,55.411818,53.228788,35.229697,57.088485,61.950606,53.262727,21.363939,49.893333,57.487273
Std,12.379589,11.475894,6.313246,11.287913,17.139084,15.457685,10.985890,14.393158,13.732203,14.665762,2.348488,13.695471

In [8]:
data_nonstat_all_stats

,e-Greedy,Skynet,e-Nash,Exp3,Frequentist,Xelnaga,ReplyHist,Reply-Last,UCB1-Tuned,FreqHist,Nash,MiniMaxQ
Average,60.901818,52.427879,36.998182,62.374848,18.438485,48.738788,63.548788,24.139697,63.488788,63.023636,40.643636,65.275455
Std,15.227710,19.088465,18.571806,15.593244,15.426790,25.059270,15.495047,19.677305,11.281387,15.411545,19.278523,16.256073

## t-Test

### Calculating the means of each result (by repetition)

In [9]:
data_stat_avrg = (100 - data_stat_all).groupby('rep').mean()
data_nonstat_avrg = (100 - data_nonstat_all).groupby('rep').mean()

data_stat_avrg.head()

,e-Greedy,FreqHist,e-Nash,Exp3,Frequentist,Xelnaga,ReplyHist,Reply-Last,UCB1-Tuned,Skynet,Nash,MiniMaxQ
rep,,,,,,,,,,,,
70,51.863636,48.381818,52.836364,54.636364,53.727273,32.927273,58.836364,62.172727,53.018182,24.409091,49.890909,57.300000
71,50.827273,48.809091,52.090909,55.718182,52.936364,32.590909,59.663636,61.709091,54.036364,23.809091,49.763636,58.045455
72,51.800000,50.836364,52.381818,55.572727,52.836364,35.481818,57.045455,61.645455,55.972727,19.563636,49.845455,57.018182
73,50.690909,50.109091,54.145455,55.272727,53.245455,35.318182,54.727273,62.963636,50.909091,24.890909,49.827273,57.900000
74,53.363636,49.027273,53.609091,55.118182,52.936364,32.654545,59.090909,62.527273,53.872727,20.463636,49.263636,58.072727

### Calculatint t-Test for each agent

In [10]:
from scipy.stats import ttest_ind

t_test = dict.fromkeys(data_stat_avrg.columns.values)

for agent in data_stat_avrg.columns:
    t_test[agent] = ttest_ind(data_stat_avrg[agent], data_nonstat_avrg[agent])
    
t_test_df = pd.DataFrame(t_test, index=['t-statistic', 'p-value'])
t_test_df.head()

,Exp3,FreqHist,Frequentist,MiniMaxQ,Nash,Reply-Last,ReplyHist,Skynet,UCB1-Tuned,Xelnaga,e-Greedy,e-Nash
t-statistic,-4.718869e+01,-5.483423e+01,5.013423e+01,-4.374648e+01,4.541100e+01,5.699617e+01,-1.754188e+01,-6.627072e+01,-3.861191e+01,-5.821587e+01,-2.923460e+01,4.065600e+01
p-value,5.711044e-48,1.137996e-51,1.851119e-49,4.104833e-46,4.999231e-47,1.257625e-52,7.289111e-25,2.283605e-56,4.521272e-43,3.760189e-53,2.101600e-36,2.520074e-44

## Saving the result

In [11]:
t_test_df.to_csv('t-test.csv', encoding='utf-8')